# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [27]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../weather_database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kizukuri,JP,2022-10-06 04:26:19,40.8061,140.3861,overcast clouds,57.52,59,100,4.85
1,1,Ushuaia,AR,2022-10-06 04:21:57,-54.8000,-68.3000,scattered clouds,38.86,87,40,10.36
2,2,Sorong,ID,2022-10-06 04:26:19,-0.8833,131.2500,broken clouds,83.26,73,55,4.41
3,3,Pompeu,BR,2022-10-06 04:26:20,-19.2244,-44.9353,few clouds,71.29,62,11,2.86
4,4,Hilo,US,2022-10-06 04:26:20,19.7297,-155.0900,moderate rain,80.28,88,100,3.00
5,5,Dharchula,IN,2022-10-06 04:26:20,29.8500,80.5333,overcast clouds,71.80,77,100,3.83
6,6,Port Alfred,ZA,2022-10-06 04:26:21,-33.5906,26.8910,broken clouds,60.19,92,62,4.00
7,7,Matara,LK,2022-10-06 04:26:21,5.9485,80.5353,overcast clouds,81.27,77,100,15.08
8,8,Butaritari,KI,2022-10-06 04:26:22,3.0707,172.7902,clear sky,82.49,72,7,14.52
9,9,Zlitan,LY,2022-10-06 04:26:22,32.4674,14.5687,clear sky,71.78,62,0,9.13

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [45]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature for your trip? "))

What is the minimum temperature for your trip? 40
What is the maximum temperature for your trip? 70

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [46]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kizukuri,JP,2022-10-06 04:26:19,40.8061,140.3861,overcast clouds,57.52,59,100,4.85
6,6,Port Alfred,ZA,2022-10-06 04:26:21,-33.5906,26.8910,broken clouds,60.19,92,62,4.00
10,10,Sitka,US,2022-10-06 04:26:22,57.0531,-135.3300,light rain,55.29,100,100,3.44
11,11,Mataura,NZ,2022-10-06 04:26:23,-46.1927,168.8643,broken clouds,46.47,83,77,8.95
15,15,Albany,US,2022-10-06 04:26:24,42.6001,-73.9662,clear sky,50.54,94,6,4.09
17,17,Bluff,NZ,2022-10-06 04:26:25,-46.6000,168.3333,overcast clouds,46.80,55,94,20.51
19,19,Katsuura,JP,2022-10-06 04:26:26,35.1333,140.3000,overcast clouds,55.42,88,100,25.03
21,21,Zavetnoye,RU,2022-10-06 04:26:26,47.1194,43.8903,clear sky,50.31,71,4,6.62
24,24,Rikitea,PF,2022-10-06 04:26:28,-23.1203,-134.9692,broken clouds,69.58,63,64,20.76
26,26,New Norfolk,AU,2022-10-06 04:26:28,-42.7826,147.0587,overcast clouds,55.92,63,100,5.01

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [47]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE
clean_travel_cities.head()

,City_ID,City,Country,Date,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kizukuri,JP,2022-10-06 04:26:19,40.8061,140.3861,overcast clouds,57.52,59,100,4.85
6,6,Port Alfred,ZA,2022-10-06 04:26:21,-33.5906,26.8910,broken clouds,60.19,92,62,4.00
10,10,Sitka,US,2022-10-06 04:26:22,57.0531,-135.3300,light rain,55.29,100,100,3.44
11,11,Mataura,NZ,2022-10-06 04:26:23,-46.1927,168.8643,broken clouds,46.47,83,77,8.95
15,15,Albany,US,2022-10-06 04:26:24,42.6001,-73.9662,clear sky,50.54,94,6,4.09

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [48]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country","Current Description", "Max Temp", "Lat", "Lng"]].copy()

# Display sample data
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Kizukuri,JP,overcast clouds,57.52,40.8061,140.3861,
6,Port Alfred,ZA,broken clouds,60.19,-33.5906,26.8910,
10,Sitka,US,light rain,55.29,57.0531,-135.3300,
11,Mataura,NZ,broken clouds,46.47,-46.1927,168.8643,
15,Albany,US,clear sky,50.54,42.6001,-73.9662,
17,Bluff,NZ,overcast clouds,46.80,-46.6000,168.3333,
19,Katsuura,JP,overcast clouds,55.42,35.1333,140.3000,
21,Zavetnoye,RU,clear sky,50.31,47.1194,43.8903,
24,Rikitea,PF,broken clouds,69.58,-23.1203,-134.9692,
26,New Norfolk,AU,overcast clouds,55.92,-42.7826,147.0587,

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [49]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""
hotel_df.head(10)
# Display sample data
# YOUR CODE HERE

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Kizukuri,JP,overcast clouds,57.52,40.8061,140.3861,
6,Port Alfred,ZA,broken clouds,60.19,-33.5906,26.8910,
10,Sitka,US,light rain,55.29,57.0531,-135.3300,
11,Mataura,NZ,broken clouds,46.47,-46.1927,168.8643,
15,Albany,US,clear sky,50.54,42.6001,-73.9662,
17,Bluff,NZ,overcast clouds,46.80,-46.6000,168.3333,
19,Katsuura,JP,overcast clouds,55.42,35.1333,140.3000,
21,Zavetnoye,RU,clear sky,50.31,47.1194,43.8903,
24,Rikitea,PF,broken clouds,69.58,-23.1203,-134.9692,
26,New Norfolk,AU,overcast clouds,55.92,-42.7826,147.0587,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [50]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [52]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [53]:
# Display sample data
# YOUR CODE HERE
hotel_df.head()

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Kizukuri,JP,overcast clouds,57.52,40.8061,140.3861,Goshogawara
6,Port Alfred,ZA,broken clouds,60.19,-33.5906,26.8910,Port Alfred
10,Sitka,US,light rain,55.29,57.0531,-135.3300,Sitka
11,Mataura,NZ,broken clouds,46.47,-46.1927,168.8643,Gore
15,Albany,US,clear sky,50.54,42.6001,-73.9662,Voorheesville

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [54]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE
clean_hotel_df

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Kizukuri,JP,overcast clouds,57.52,40.8061,140.3861,Goshogawara
6,Port Alfred,ZA,broken clouds,60.19,-33.5906,26.8910,Port Alfred
10,Sitka,US,light rain,55.29,57.0531,-135.3300,Sitka
11,Mataura,NZ,broken clouds,46.47,-46.1927,168.8643,Gore
15,Albany,US,clear sky,50.54,42.6001,-73.9662,Voorheesville
...,...,...,...,...,...,...,...
553,Olney,US,clear sky,58.01,39.1532,-77.0669,Aspen Hill
554,Treinta Y Tres,UY,overcast clouds,56.75,-33.2333,-54.3833,Treinta y Tres
555,Fort-Shevchenko,KZ,broken clouds,66.47,44.5086,50.2630,Fort-Shevchenko
561,Menzelinsk,RU,light rain,47.41,55.7271,53.1026,Menzelinsk
562,Vila,PT,overcast clouds,54.48,42.0304,-8.1588,Castro Laboreiro

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [55]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [56]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [57]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Goshogawara</dd>\n<dt>City</dt><dd>Kizukuri</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Port Alfred</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 60.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sitka</dd>\n<dt>City</dt><dd>Sitka</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 55.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gore</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>broken clouds and 46.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Voorheesville</dd>\n<dt>City</dt><dd>Albany</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 50.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bluff</dd>\n<dt>City</dt><dd>Bluff</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 46.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Katsuura</dd>\n<dt>City</dt><dd>Katsuura</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 55.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Zavetnoe</dd>\n<dt>City</dt><dd>Zavetnoye</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>clear sky and 50.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Rikitea</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 69.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>New Norfolk</dd>\n<dt>City</dt><dd>New Norfolk</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 55.92 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [58]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   40.8061  140.3861
6  -33.5906   26.8910
10  57.0531 -135.3300
11 -46.1927  168.8643
15  42.6001  -73.9662
17 -46.6000  168.3333
19  35.1333  140.3000
21  47.1194   43.8903
24 -23.1203 -134.9692
26 -42.7826  147.0587

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [59]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))